header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    margin-right: 20px;
}

#pictures {
    display:flex;
    justify-content: center;
}

img {
    max-width: 200px;
    height: auto;
    margin: 20px;
    border: 2px solid black;
}

p {
    text-align: center;
}